body, html {
    height: 100%;
    margin: 0;
}

/*  Font imports
 *
 */
@font-face { font-family: Oswald; src: url('./fonts/Oswald/Oswald-Regular.ttf');}
@font-face { font-family: Signika; src: url('./fonts/Signika/Signika-Regular.ttf');}


/* Styling used for the background/header image
 *
*/
.bg {
    /* The image used */
    background-image: url("images/background-tree.png");

    /* Full height */
    height: 40%; 

    /* Center and scale the image nicely */
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Styling used for the Sidebar
 * 
*/
div#left-sidebar{
  position:sticky;
  z-index:1;
  top:0px;
  margin:0px;
  left:0;
  min-width: 150px;
  width:150px;
  height:100%;
  overflow-x:hidden;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li a {
  display: block;
  color: white;
  margin: 0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #333;
  font-family: Signika;
}
/* Change the link color to #555 (gray) on hover */
li a:hover {
    background-color: #555;
}

/*  CSS for the content
 *
 */
 div#main-content {
    display: flex;
 }
 
 div#content {
    margin-left: 10px;
    padding: 5px;
    height: 5000px;
 }
