/*  General CSS
 *
 */
body, html {
    height: 100%;
    margin: 0;
    background-color: #FFFFFF; /* Temporary to see layout better */
}
/*  Contenders for colour schemes:(sidebar then background)
 *  # N/A
 *  #8FB5A5 light blue
 *  bccbcd fog blue for background
*/

/*  Font imports
 *
 */
@font-face { font-family: Oswald; src: url('./fonts/Oswald/Oswald-Regular.ttf');}
@font-face { font-family: Signika; src: url('./fonts/Signika/Signika-Regular.ttf');}
@font-face { font-family: MontserratMediumItalic; src: url('./fonts/Montserrat/Montserrat-MediumItalic.ttf');}
@font-face { font-family: MontserratRegular; src: url('./fonts/Montserrat/Montserrat-Regular.ttf');}

/* Header Page Style
 * 373737 charcoal, f4f4f4 paper
*/
div#title-header {
  background-color: #f4f4f4;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40%;
  width: 100%;
  
}

div.profile-card {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img#profile-photo {
  height:200px;
  width:200px;
  max-height:200px;
  max-width:200px;
  display:inline-block;
  float: left;
}

h1#title-intro{
  font-family: MontserratMediumItalic;
  font-weight: normal;
  font-size: 50px;
  display:inline-block;
  float: left;
  padding: 10px 0px 10px 40px;
  
}

/* Styling used for the Sidebar
 * 
*/
div#left-sidebar{
  position:fixed;
  z-index:1;
  top:35px;
  margin:0px;
  left:0;
  min-width: 175px;
  width:175px;
  overflow:hidden;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li a {
  display: block;
  color: #373737;
  margin: 0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: MontserratRegular;
}
/* Change the link color to #555 (gray) on hover */
li a:hover {
    font-weight:bold
}
